#--------------------------------------------------------------------
proxy=http://proxy-zsgov.external.lmco.com:80/
https-proxy=http://proxy-zsgov.external.lmco.com:80/
noproxy=127.0.0.1,localhost,169.254.169.254,.amazonaws.com,.lmco.com
#-------------------------------------------------------------
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}